{
	"KNOWLEDGE_ENTITY_TYPE": "person_resolved_entity",
	"FEATURE_MAPPING": {
		"NAME" : "name",
		"ADDRESS" : "address",
                "DOB" : "dob",
                "DOD" : "dod",
                "GENDER" : "gender",
                "PHONE" : "phone",
                "SSN" : "ssn",
                "EMAIL" : "email",
                "EMPLOYER" : "employer"
	},
	"ROLE_MAPPING" : {
	}
}
